/* HEADER CSS */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0; /* Add this line */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 200px;
  height: 150px;
  margin-right: 60px;
}

.app-title {
  font-size: 36px; /* Increase the font size */
  font-family: "Arial", sans-serif; /* Change the font family */
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff; /* Change the font color to blue */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add a subtle text shadow */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  margin-left: -100px;
}


/* INPUT AND CONTAINER CSS */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 50px; /* Increase padding-right value */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}



/* TABLE CSS */

.table {
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

